<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
		Hello <%= @user %>, <br><br>
		We are pleased to inform you that your job application has been successfully submitted. Your application is now under review by the respective hiring team. <br><br>

		If you have any questions or need support regarding your application, please do not hesitate to reach out to us at info@xcelyst.com. We are here to assist you throughout the application process. <br><br>

		Thank you for choosing Xcelyst and best of luck with your job application.
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
