<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi Team,
    </p>
    <p>
		I hope this email finds you well. We have received a request from a user who is interested in exploring the features and benefits of the Xcelyst platform. The user is seeking a demo to better understand how our platform can meet their needs. Please find the user's details below:
    </p>
    <p>
		Name: <%= @account.user_full_name Full Name %>
		Email: <%= @account.email %>
		Phone: <%= @account.phone_number %>
    </p>
    <p>
      We kindly request your assistance in arranging a demo for the user at their earliest convenience. This will provide an opportunity to showcase the capabilities of our platform and address any questions or concerns they may have.
    </p>
    <p>
      Thank you for your attention to this matter.
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
