<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hi <%= @account.first_name %>,
Thanks for joining our service!<br><br>
Your one time password is <%= @account.otp %>. This OTP will expire in 5 minutes.<br><br>
Thanks for using Xcelyst.

</p>
</body>
</html>
