<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      please follow this link for change your password
      <%= link_to "Change password", @url %>
    </p>
  </body>
</html>
