<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @account.first_name %>,
    </p>
    <p>
      We have received your request to change your password for your Xcelyst account. To proceed with the password reset process, please click on the link below: <br>
        Reset Password: <%= link_to "Change password", @url %>
    </p>  

    <p>
      If you did not initiate this password change request, please disregard this email and contact our support team immediately at info@xcelyst.com for further assistance.
    </p>

    <p>
      Thank you for choosing Xcelyst. We are here to support you every step of the way. If you have any questions or need any further assistance, please don't hesitate to reach out to our dedicated support team.
    </p>

    <%= render 'layouts/email_footer'%>
  </body>
</html>
