<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @account.first_name %>,
    </p>
    <p>
      We are writing to inform you that your profile has been successfully updated on the Xcelyst platform. <br><br>

      If you did not make these changes to your profile, we strongly recommend taking immediate action to secure your account. We advise you to change your password and contact us at info@xcelyst.com for further assistance in safeguarding your profile. <br><br>

      Thank you for trusting the Xcelyst platform for your job search and career development. We are dedicated to providing you with a seamless and secure experience. <br><br>

      Should you have any questions or require any support, please do not hesitate to reach out to our team. We are here to assist you. <br><br>

      Thank you for your cooperation. <br><br>
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
