<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @account.first_name %>,
    </p>
    <p>
      Congratulations! Your account verification process is now complete, and we are thrilled to welcome you to Xcelyst.
    </p>
    <p>
      Get ready to embark on an exciting job hunting journey with us. We are here to assist you in finding the perfect opportunities that match your skills and aspirations.
    </p>
    <p>
      In addition, we are pleased to inform you that our advanced AI-ML technology has successfully parsed your resume and stored the relevant information. This feature will help streamline your job search and provide you with more accurate recommendations.
    </p>
    <p>
      Thank you for choosing Xcelyst as your trusted job hunting tool. We are dedicated to supporting you throughout your job search process. If you have any questions or encounter any difficulties, please don't hesitate to reach out to our dedicated team at info@xcelyst.com. We're here to assist you every step of the way.
    </p>
    <p>
      Once again, welcome to Xcelyst! We're excited to have you on board and look forward to helping you find the career opportunities you deserve.
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
