<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your temporary password is <%= @password %>
      please follow this link and change your password as soon as possible
     <b> <%= link_to "Change password", @url %> <b/>
    </p>
  </body>
</html>
