<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hello <%= @interviewer.name %>,<br><br>

You've not given any feedback to <%= @candidate.user_full_name %>, now the feedback link is closed <br>
<br>
Thanks for using Xcelyst.
</p>
</body>
</html>