<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hello <%= @interviewer.name %>,<br><br>

Please add your feedback for <%= @candidate.user_full_name %>.<br>
Click on <a href="<%= "#{@link}" %>", target="_blank" >feedback link</a>.<br><br>

Thanks for using Xcelyst.
</p>
</body>
</html>