<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
Hello <%= @client.first_name %>,

A interview scheduled with <%= @candidate.first_name %> through the admin.<br><br>

Thanks for using Xcelyst.
</p>
</body>
</html>
