<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi  <%= @client.user_full_name %>, <br><br>
      
      We are pleased to inform you that you have successfully created a time slot for the upcoming interview with the candidate <%= @candidate_name %> for the job role of <%= @job_title %>. The details of the interview have been shared on our platform. <br><br>

      Thank you for choosing Xcelyst as your trusted recruitment platform. If you have any questions or require further assistance, please do not hesitate to contact us at info@xcelyst.com. <br><br>
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
