<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, <br><br>
      
      We would like to inform you that a time slot has been successfully created by <%= @client.user_full_name %> for the upcoming interview with the candidate <%= @candidate_name %> for the job role of <%= @job_title %>. The details of the interview have been shared on the platform. <br><br>

      This time slot selection ensures convenience for both the client and the candidate, optimizing the interview scheduling process. <br><br>

      Thank you for your continuous support in managing the recruitment process through Xcelyst. Should you have any questions or require further assistance, please feel free to reach out to us. <br><br>
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>







